header{
	background: #777;
}
.ecnu-logo{
	margin: 2rem;
}
.nav {
	background: #777;
}
.nav a {
	color: #000;
	margin-right: 2rem;
	font-size: large;
}
.content {
	padding: 5rem;
}
.content .contact-info{
	margin: 4rem;
	padding: 2rem;
}

/* 小屏幕（平板，大于等于 768px） */
@media (max-width: 460px) {
	h2, h3{
		font-size: normal;
	}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: @screen-md-min) { ... }

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: @screen-lg-min) { ... }